/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  @media screen and (max-width: 768px) { /* ajuste o valor '768px' para o ponto de interrupção desejado */
    h1 {
      font-size: 24px; /* ajuste o tamanho da fonte para h1 em dispositivos móveis */
    }
  
    h2 {
      font-size: 20px; /* ajuste o tamanho da fonte para h2 em dispositivos móveis */
    }

    h3 {
      font-size: 16px; /* ajuste o tamanho da fonte para h2 em dispositivos móveis */
    }
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #eafee2;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #087e0ad3;
    padding: 1rem 0;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  nav ul li {
    margin-right: 2rem;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
  }
  
  nav ul li a:hover {
    color: #0091ea;
  }
  
  /* Estilos do conteúdo principal */
  main {
    max-width: 960px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #C5FABA;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  main h1 {
    /* font-size: 2.5rem; */
    margin-bottom: 1rem;
  }
  
  main p {
    margin-bottom: 1rem;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #087e0ad3;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
  
  /* Estilos responsivos */
  @media screen and (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 0.5rem;
    }
  
    nav ul li:last-child {
      margin-bottom: 0;
    }
  }


  /* Estilos para a tag article */
article {
    background-color: #fff; /* Cor de fundo diferente da seção main */
    margin: 1.5rem 0;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  article h2 {
    /* font-size: 2rem; */
    margin-bottom: 1rem;
    color: #333;
  }
  
  article p {
    margin-bottom: 1rem;
    color: #333;
  }
  
  article h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  article a {
    color: #0091ea;
    text-decoration: none;
  }
  
  article a:hover {
    text-decoration: underline;
  }
  



  .menu-hamburger ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  .menu-hamburger li {
    padding: 8px 16px;
  }
  
  .menu-hamburger li a {
    text-decoration: none;
  }
  
  .hamburger-icon {
    font-size: 24px;
    cursor: pointer;
    display: block;
    padding: 8px 16px;
  }


  @media screen and (min-width: 768px) {
    .menu-hamburger ul {
      display: flex;
    }
  
    .hamburger-icon {
      display: none;
    }
  }